{% extends "model-page.html" %}


{% block content %}
<h2>Agendamentos</h2>

<a href="evento/">
    <button type="button">Novo Evento</button>
</a>
<a href="evento/historico/" style="padding-left: 10px;">
    <button type="button">Histórico de agendamento</button>
</a>

<h3>Bem vindo - {{ request.user }}</h3>

<table border="1">
    <tr>
        <th>Título</th>
        <th>Data</th>
        <th>Local</th>
        <th>Editar ou Excluir</th>
    </tr>


    {% for evento in eventos %}

    <tr align="center">

        {% if evento.local %}

        <td style= {% if evento.get_evento_atrasado %} "color:red" {% elif evento.get_evento_agora %} "color:green" {% endif %}>
            {{ evento.titulo }}
        </td>
        <td style= {% if evento.get_evento_atrasado %} "color:red" {% elif evento.get_evento_agora %} "color:green" {% endif %}>
            {{ evento.get_data_evento }}
        </td >
        <td style= {% if evento.get_evento_atrasado %} "color:red" {% elif evento.get_evento_agora %} "color:green" {% endif %}>
            {{ evento.local }}
        </td>

        {% else %}
        <td style= {% if evento.get_evento_atrasado %} "color:red" {% elif evento.get_evento_agora %} "color:yellow" {% endif %}>
            {{ evento.titulo }}
        </td>
        <td style= {% if evento.get_evento_atrasado %} "color:red" {% elif evento.get_evento_agora %} "color:yellow" {% endif %}>
            {{ evento.get_data_evento }}
        </td>
        <td style= {% if evento.get_evento_atrasado %} "color:red" {% elif evento.get_evento_agora %} "color:yellow" {% endif %}>
            *
        </td>
        {% endif %}

        <td>
            (<a href="evento/?id={{ evento.id }}">Editar</a> / <a href="evento/delete/{{ evento.id }}/">Excluir</a>
            )
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}