
# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode
*.db
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
myApi/
migrations/
venv/
__pycache__/
# End of https://www.gitignore.io/api/visualstudiocode
